<div class="container">
	<div class="row show-user">
		<div class="col-md-12">
			<h1><%= @event.name %></h1>
			<h2><%= @event.description %></h2>
			<h3><%= @creator.email %></h3>
		</div>
	</div>
</div>